<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread{10}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 特別為 kai 包設置 DEBUG 級別，同時輸出到 console 和文件 -->
    <logger name="kai" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

